In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
df = pd.read_csv('../../Datasets/Social_Network_Ads.csv')

df.drop('User ID', axis=1, inplace=True)
df.head(5)

   Gender  Age  EstimatedSalary  Purchased
0    Male   19            19000          0
1    Male   35            20000          0
2  Female   26            43000          0
3  Female   27            57000          0
4    Male   19            76000          0

In [4]:
df.Gender = pd.get_dummies(df.Gender, drop_first=True)
X = df.to_numpy()

np.random.seed = 0
X = X[np.random.permutation(X.shape[0])]

y = X[:, -1]
X = X[:, :-1]

In [5]:
split = int(X.shape[0] * 0.8)

X_train = X[:split]
y_train = y[:split]

X_test = X[split:]
y_test = y[split:]

In [16]:
print(np.mean(y_train == 0))
print(y_train[y_train == 0].shape[0] / y_train.shape[0])

0.659375
0.659375

In [23]:
X_train[y_train == 0][:, 0]

array([1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1,
       1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1,
       1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0,
       0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0,
       1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0,
       0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0,
       0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0])

In [35]:
sample = X_test[i]

# P(C0 | X) * P(X) = p1
# P(X | C0)  = a
# P(X_1 = 1 | C0) = a1
# P(X_2 = 60 | C0) = a2
# P(X_3 = 102000 | C0) = a3
# P(C0)  = b

mu_1_0 = np.mean(X_train[y_train == 0, 1])
mu_2_0 = np.mean(X_train[y_train == 0, 2])
sigma_1_0 = np.std(X_train[y_train == 0, 1])
sigma_2_0 = np.std(X_train[y_train == 0, 2])

a1 = np.mean(X_train[y_train == 0][:, 0] == sample[0])
a2 = 1 / ((2 * np.pi) ** 0.5 * sigma_1_0) * np.exp(-((sample[1] - mu_1_0) ** 2) / (2 * sigma_1_0 ** 2))
a3 = 1 / ((2 * np.pi) ** 0.5 * sigma_2_0) * np.exp(-((sample[2] - mu_2_0) ** 2) / (2 * sigma_2_0 ** 2))

a = a1 * a2 * a3
b = np.mean(y_train == 0)
p1 = a * b

# P(C1 | X) * P(X) = p2
# P(X | C1)  = a
# P(X_1 = 1 | C1) = a1
# P(X_2 = 60 | C1) = a2
# P(X_3 = 102000 | C1) = a3
# P(C1)  = b

mu_1_1 = np.mean(X_train[y_train == 1, 1])
mu_2_1 = np.mean(X_train[y_train == 1, 2])
sigma_1_1 = np.std(X_train[y_train == 1, 1])
sigma_2_1 = np.std(X_train[y_train == 1, 2])

a1 = np.mean(X_train[y_train == 1][:, 0] == sample[0])
a2 = 1 / ((2 * np.pi) ** 0.5 * sigma_1_1) * np.exp(-((sample[1] - mu_1_1) ** 2) / (2 * sigma_1_1 ** 2))
a3 = 1 / ((2 * np.pi) ** 0.5 * sigma_2_1) * np.exp(-((sample[2] - mu_2_1) ** 2) / (2 * sigma_2_1 ** 2))

a = a1 * a2 * a3
b = np.mean(y_train == 1)
p2 = a * b


print(p1, p2, y_test[i])

3.881464158460541e-08 1.8308159309813827e-10 0